/* ----Mobile Design---- */

@media (max-width: 600px) {

    /* first side */
    .content-box {
        border-radius: 10px;
        height: 80vh;
        flex-direction: column;
        align-items: stretch;
    }

    .bmi-box  {
        
        width: 100%;
        height: 50%;
    }

    .bmi-box input {
        top: 7vh;
    }

    input {
        height: 5vh;
        font-size: 0.8em;
    }

    label {
        display: flex;
        flex-direction: column;;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1em;
        margin: 6vh 3vw -12vh; 
        
    }

    button {
        margin: 1.8rem 0px 0px 5.5vw;
        width: 30vw;
    }

    /* second side */

    .result-box {
        height: 50%;
    }

    .result-box h1 {
        margin-top: 5vh;
        font-size: 2em;
    }

    .result-box .result-show {
        font-size: 3.0em;
        margin-top: 2vh;
        height: 15vh;
        width: 45vw;
    }

    .result-box #bmi_message {
        margin-top: 2.5vh;
        font-size: 1.2em;
    }
}